#user-partners
	.text-wrapper
		margin 14px

		div 
			margin-bottom 10px

	.radio-wrapper
		margin 20px 14px 14px 14px

		.title
			margin-bottom 5px

		.container
			.each
				display block
				float left
				margin-right 20px		

				input 
					margin 0
					padding 0
					position relative
					top -2px

				label
					margin-left 5px

	.submit-wrapper
		margin 14px

		span
			display block
			float right

		button
			display block
			float right