#user-partners
	.text-wrapper
		margin 14px

		div 
			margin-bottom 10px

	.radio-wrapper
		margin 20px 14px 14px 14px

		.title
			font-weight 700
			margin-bottom 10px

		.container
			.each
				display block
				float left
				width 185px
				margin-bottom 8px

				input 
					margin 0
					padding 0
					position relative
					top -2px

				label
					margin-left 5px

	.order-wrapper
		margin 20px 14px 14px 14px

		.title
			font-weight 700
			margin-bottom 10px

		ul
			padding 0
			margin 0

			.active
				background-color #00467F
				color #FFF

			li
				text-align center
				cursor move
				padding 10px
				border 1px dashed
				background-color #fcfcfc
				margin 10px

	.submit-wrapper
		margin 14px

		span
			display block
			float right

		button
			display block
			float right