// ko if: currentModal() === 'UserPartnersModal'
// ko with: $root.UserPartnersModal

#user-partners.modal(role='dialog', aria-labelledby='dialog-title')
	a.close(data-bind='click:destroyIconClick') Close
	h1(id="dialog-title", data-bind="text:'Hello ' + $parent.user().firstName+ ' - Add Your Default Partners'") Add Default Partners

	form(data-bind="submit:submitPartners.call")
		include ../../base/jade/error-handling

		.text-wrapper.hide
			div Please select one to five default partners from the sections below. 
			div At anytime you can change the partners by reopening this modal from the link in your dashboard.

		.radio-wrapper
			.title Select one to five default partners
			.container(data-bind="foreach:allPartners")
				.each.ellipsis
					input(data-bind="click:$parent.checkboxClicked, attr:{id:id}", type="checkbox")
					label(data-bind="text:partnerName, attr:{'for':id}")
			.clear

		
		.order-wrapper
			// ko if: selectedCheckboxes().length > 0
			.title Drag and drop your selected partners in order of preference.
			// /ko

			ul(id="sort-wrapper", data-bind="foreach:selectedCheckboxes")
				li(data-bind="text:partnerName, attr:{'data-id':id}")
		
					

		.submit-wrapper
			button(class="btn-submit", type="submit") Add Partners
			.clear
// /ko
// /ko