// ko if: currentPage && currentPage() !== 'LoginPage'
#sidebar

	.search
		form(data-bind="submit:$root.sidebarSearch")
			// ko if: searchErrors
			.messages.err(data-bind="text:searchErrors")
			// /ko

			table
				tbody
					tr
						td: label(for="searchPartners") Partner:
						td
							select(id="searchPartners", name="partner", data-bind="foreach:$root.allPartners")
								option(data-bind="text:partnerName, attr:{value:id}") 
					tr
						td: label(for="searchString") Search:
						td: input(type="text", name="query")
					tr
						td(colspan="2")
							button(class="btn-submit", type="submit") Search
							.clear

	// ko if: $root.userPartners().length > 0
	.partners
		.title Your Default Partners
		ul(data-bind="foreach:$root.userPartners")
			li
				.closed(data-bind="attr:{id:'triangle-' + id}")
				.text(data-bind="click:$root.displayMoreInfo, text:partnerName")
				.clear
				.more-info(data-bind="attr:{id:'more-info-' + id}")
					a(href="javascript:void(0)") - Program Overview
					a(href="javascript:void(0)") - Benefits and Services
					a(href="javascript:void(0)") - Phone Numbers and LCD Readouts
					a(href="javascript:void(0)") - Partner Information
	// /ko
// /ko