// ko if: currentPage && currentPage() !== 'LoginPage'
#sidebar

	.search
		form(data-bind="submit:$root.sidebarSearch")
			// ko if: searchErrors
			.messages.err(data-bind="text:searchErrors")
			// /ko

			table
				tbody
					tr
						td: label(for="searchPartners") Partner:
						td
							select(id="searchPartners", name="partner", data-bind="foreach:$root.allPartners")
								option(data-bind="text:partnerName, attr:{value:id}") 
					tr
						td: label(for="searchString") Search:
						td: input(type="text", name="query")
					tr
						td(colspan="2")
							button(class="btn-submit", type="submit") Search
							.clear
	

	// ko if: $root.userPartners().length > 0
	.container
		.title Your Default Partners ·
			a.weak(href="javascript:void(0)", data-bind="click:$root.showPartnerModal") &nbsp;Edit
		ul(data-bind="foreach:$root.userPartners")
			li
				.triangle-wrapper(data-bind="click:$root.firstLevelMenu.bind($data, $index())")
					.closed(data-bind="attr:{'id':'partner-triangle-' + id}")
				.text.user(data-bind="text:partnerName")
				.clear
				.more-info(data-bind="foreach: menuItems, attr:{'id':'partner-root-pages-' + id}")
					
					.root-page
						.triangle-wrapper(data-bind="click:$root.secondLevelMenu.bind($data, $index())")
							// ko if: children().length > 0
							.closed(data-bind="attr:{'id':'child-triangle-' + primaryNavId}")
							// /ko

						// ko if: pageId
						a.text(href="javascript:void(0)", data-bind="attr:{'href':'#/page/' + pageId}, text:name")
						// /ko

						// ko ifnot: pageId
						.text(data-bind="text:name")
						// /ko

						.clear

						// ko if: children().length > 0
						.child-pages(data-bind="attr:{'id':'child-page-' + primaryNavId}")
							// ko foreach: children
							.root-page.ellipsis(style="color:#0096D6 !important")
								a(href="javascript:void(0)", data-bind="text:'- ' + secondaryNavName, attr:{'href':'#/page/' + pageId, 'title':secondaryNavName}")
							// /ko
						// /ko
	// /ko

	.container
		.title Global Announcements
		ol(data-bind="foreach:$root.announcements")
			// ko if: $index() < 3
			li: .text
				a(href="javascript:void(0)") - Canada GM call center opening
			// /ko
		// ko if: $root.announcements().length > 0
		a(class="more", href="javascript:void(0)") - More Announcements
		.clear
		// /ko
	
// /ko


