.logo-wrapper
	img(src="images/logo.png")
	.logo-title Online Reference System 
	
.right
	ul
		li: a(href="javascript:void(0)") Home
		li ·
		li: a(href="javascript:void(0)") Announcements
		li ·
		li: a(href="javascript:void(0)") Provider Lookup
		li ·
		li: a(href="javascript:void(0)") Help

	.welcome Welcome to the Allstate Roadside Services, Online Reference System (ORS)

.clear
