.logo-wrapper
	img(src="images/logo.png")
	.addon Roadside Services
	.logo-title Online Reference System 

.right
	ul
		li: a(href="javascript:void(0)") Home
		li 路
		li: a(href="javascript:void(0)") Announcements
		li 路
		li: a(href="javascript:void(0)") Provider Lookup
		li 路
		li: a(href="javascript:void(0)") Help
		li 路
		li: a(href="javascript:void(0)") All Partners

	.welcome Welcome to the Allstate Roadside Services, Online Reference System (ORS)

.clear
