// ko if: currentPage() === 'DashboardPage'
// ko with: DashboardPage

.page#dashboard-page
	// ko if: userPartners().length > 0
	ul(data-bind="foreach:userPartners")
		li(data-bind="text:partnerName")
	// /ko

// /ko
// /ko