// ko if: currentPage() === 'DashboardPage'
// ko with: DashboardPage

.page#dashboard-page
	// ko if: $root.user()
	.welcome Reference System Dashboard
	// /ko

	// ko if: $root.userPartners().length > 0
	.partners(data-bind="foreach:$root.userPartners")
		.partner(data-bind="click:$parent.moreInfo")
			img(data-bind="attr:{src:'images/partners/' +id + '.jpg'}")
			.name(data-bind="text:partnerName")

		// ko if: ($index() === ($root.userPartners().length - 1))
		.clear
		// /ko
	// /ko

	
	.more-info
		// ko if: currentPartner()
		// ko with: currentPartner
		.title
			span(data-bind="text:partnerName")
			span &nbsp;·&nbsp;
			a(href="javascript:void(0)") More
		.description(data-bind="text:description")

		.tables
			// ko if: announcements.length > 0
			.container
				.heading Announcements
				ul(data-bind="foreach:announcements")
					// ko if: title
					li: a(href="javascript:void(0)", data-bind="text:title")
					// /ko
			// /ko
			// ko if: bookmarks.length > 0
			.container.bookmarks-container
				.heading Bookmarks
				ul(data-bind="foreach:bookmarks")
					li: a(href="javascript:void(0)", data-bind="text:name")
			// /ko
			.clear
		
		// /ko
		// /ko

// /ko
// /ko