#dashboard-page
	.welcome
		margin 15px 0 0 14px
		font-size 20px

	.more-info
		margin 30px 20px 20px 20px
		position relative
		left 700px
		border 1px solid #E9EAED

		.title
			font-size 18px
			border-bottom 1px solid #E9EAED
			padding 10px
			background none repeat scroll 0 0 #F6F7F8

		.description
			padding 10px
			font-size 13px

		.tables
			padding 10px

			.bookmarks-container
				margin-right 0 !important

			.container
				float left
				width 300px
				border 1px solid #E9EAED
				margin-right 30px

				.heading
					background none repeat scroll 0 0 #F6F7F8
					border-bottom 1px solid #E9EAED
					color #37404E
					font-weight 700
					padding 10px

				ul
					li
						padding 10px
						border-bottom 1px solid #E9EAED

	.partners
		position relative
		width 725px
		margin-left 5px

		.partner:hover
			cursor pointer
			//border 1px solid #CCCCCC
			//background-color #F5F5F5	
			border 1px solid #00467F
			background-color #00467F
			color white				

		.partner
			margin 10px 10px 0
			float left
			text-align center
			border 1px solid #FFF	

			img
				display block
				width 147px
				border 1px solid #F0F0F0

			.name
				margin 5px 0

