#dashboard-page
	.welcome
		margin 7px 0 0 9px
		font-size 20px

	.partners
		position relative
		width 670px

		.partner:hover
			cursor pointer
			border 1px solid #CCCCCC
			background-color #F5F5F5					

		.partner
			margin 10px 10px 0
			float left
			text-align center
			border 1px solid #FFF	

			img
				display block
				width 138px
				border 1px solid #F0F0F0

			.name
				margin 5px 0

