a:link {
  text-decoration: none;
  color: #0096d6;
}
a:visited {
  text-decoration: none;
  color: #0096d6;
}
a:hover {
  color: #00467f;
}
.clear {
  clear: both;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
  font-color: inherit;
}
ol {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
input {
  border: 1px solid #bababa;
  border-radius: 3px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.13) inset;
}
.btn-submit {
  background-color: #00467f;
  border: 1px solid #00467f;
  color: #fff;
  padding: 6px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}
.hide {
  display: none;
}
.clear {
  clear: both;
}
fieldset {
  border: 0px solid;
  margin: 0;
  padding: 0;
}
.strong {
  font-weight: 700;
}
.weak {
  font-weight: 400 !important;
}
#overlays {
  width: 100%;
  height: 100%;
}
#overlays #loading-bg {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: #000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}
#overlays #loading-img {
  position: fixed;
  display: none;
  z-index: 11000;
  top: 50%;
  left: 50%;
  margin-left: -82px;
}
.messages {
  padding: 12px 12px 12px 43px;
  border: 3px solid;
  border-radius: 4px;
  background-position: 5px;
  background-repeat: no-repeat;
  margin: 14px;
  line-height: 1.2em;
}
.messages h1 {
  font-size: 15px;
  margin: 0 0 4px;
}
.messages p {
  margin: 0;
}
.messages ul {
  list-style-type: disc;
  list-style-position: inside;
  padding: 0 !important;
  margin: 0 !important;
}
.messages ul li {
  margin-bottom: 3px;
}
.messages ul li:last-child {
  margin-bottom: 0px;
}
.messages.err {
  background-image: url("../images/error.png");
  background-color: #eacccc;
  border-color: #b10808;
}
.messages.info {
  background-image: url("../images/information.png");
  background-color: #daecf7;
  border-color: #0677b9;
}
.messages.warn {
  background-image: url("../images/warning.png");
  background-color: #fdf4db;
  border-color: #f9cc2a;
}
.messages.success {
  background-image: url("../images/success.png");
  background-color: #e3f5d8;
  border-color: #5da21f;
}
#modal-overlay {
  display: none;
  position: fixed;
  z-index: 900;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
  top: 0px;
  left: 0px;
  width: 100%;
  min-width: 1003px;
  height: 100%;
}
.modal {
  display: none;
  z-index: 1000;
  top: 50px;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  max-width: 600px;
  background: #efefef;
  border-radius: 4px;
  overflow-x: hidden;
  overflow-y: auto;
}
.modal .messages {
  margin: 14px 14px 0 14px;
}
.modal .close {
  text-indent: -9999px;
  width: 18px;
  height: 18px;
  float: right;
  background: url("../images/close.png") no-repeat right center;
  margin: 10px 14px 10px 0;
  cursor: pointer;
}
.modal h1 {
  clear: both;
  font-size: 22px;
  font-family: 'Varela Round', 'Helvetica', 'Arial', 'Lucida Sans Unicode', sans-serif;
  border-bottom: 1px solid #9e9e9e;
  padding: 0 0 14px 14px;
}
.modal ul {
  width: 100%;
  padding: 14px;
  list-style-type: disc !important;
}
.modal li {
  margin-bottom: 12px;
}
.modal li label {
  width: 35%;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}
.modal li input,
.modal li textarea {
  width: 65%;
  display: inline-block;
}
.modal li textarea {
  height: 90px;
}
.modal li input[type="checkbox"] {
  width: 15px;
  position: relative;
  left: -4px;
  top: 4px;
}
.modal li .hint {
  clear: both;
  color: #999;
  display: block;
  font-size: 12px;
  margin: 5px 0 0 35%;
}
.modal li button {
  display: block;
  float: right;
  font-size: 15px;
}
html {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
html body {
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 14px;
  width: 100%;
  height: 100%;
  background-color: #e7ebf2;
}
html body #main-content {
  width: 100%;
  height: 100%;
  position: relative;
}
html body #page-content {
  margin: 0 auto;
  position: relative;
  width: 1001px;
  border: 1px solid #d6d6d6;
  border-top: 0;
  background-color: #fcfcfc;
  min-height: 500px;
}
html body #page-content .page {
  float: left;
  position: relative;
  width: 700px;
  overflow: hidden;
}
#footer-content {
  margin: 0 auto;
  width: 1001px;
  background-color: #00467f;
  margin-bottom: 40px;
  border: 1px solid #00467f;
}
#footer-content ul {
  font-size: 13px;
  display: block;
  float: right;
  padding: 5px 10px 5px 0;
}
#footer-content ul li {
  color: #fff;
  display: inline;
  margin: 0 8px 0 0;
}
#footer-content ul li a {
  color: #fff;
}
#footer-content ul li a:hover {
  text-decoration: underline;
}
#header {
  background-color: #fcfcfc;
  border: 1px solid #d6d6d6;
  margin: 0 auto;
  padding: 10px;
  width: 981px;
}
#header .logo-wrapper {
  position: relative;
  width: 320px;
  float: left;
}
#header .logo-wrapper img {
  display: block;
}
#header .logo-wrapper .addon {
  background-color: #fff;
  position: absolute;
  bottom: 24px;
  left: 50px;
  color: #ccc;
  font-size: 11px;
  font-weight: 700;
  text-align: right;
  width: 115px;
}
#header .logo-wrapper .logo-title {
  color: #0096d6;
  font-weight: 700;
  margin: 10px 0 0 10px;
}
#header .right {
  float: left;
  margin-top: 5px;
}
#header .right ul {
  font-size: 13px;
  display: block;
}
#header .right ul li {
  display: inline;
  margin: 0 8px 0 0;
}
#header .right ul li a {
  color: #444;
}
#header .right ul li a:hover {
  text-decoration: underline;
}
#header .welcome {
  color: #0096d6;
  font-weight: 700;
  font-size: 15px;
  margin-top: 11px;
}
#sidebar {
  width: 300px;
  border-right: 1px solid #d6d6d6;
  min-height: 500px;
  float: left;
}
#sidebar .search {
  position: relative;
  width: 230px;
  background-color: #f7f7f7;
  border: 1px solid #e8e8e8;
  margin: 18px auto 0;
  padding: 7px 15px 12px;
}
#sidebar .search .messages {
  margin: 5px 7px 0 2px !important;
}
#sidebar .search table {
  width: 100%;
  margin: 0 auto;
}
#sidebar .search table tr td {
  height: 35px;
}
#sidebar .search table tr td:first-child {
  width: 60px;
}
#sidebar .search table tr label {
  color: #666;
}
#sidebar .search table tr select {
  width: 99%;
}
#sidebar .search table tr input[type="text"] {
  width: 90%;
  padding: 7px;
}
#sidebar .search table tr button {
  display: block;
  float: right;
  margin: 5px 2px 0 0;
}
#sidebar .container {
  position: relative;
  width: 230px;
  margin: 22px auto;
  background-color: #f7f7f7;
  border: 1px solid #e8e8e8;
  padding: 15px;
}
#sidebar .container .title {
  font-size: 16px;
  font-weight: 700;
}
#sidebar .container .more {
  display: block;
  float: right;
  margin-top: 5px;
}
#sidebar .container ol {
  margin: 10px 0 3px 18px;
}
#sidebar .container ol li {
  margin-bottom: 7px;
}
#sidebar .container ul {
  margin: 5px 0 0 0;
}
#sidebar .container ul li {
  padding: 5px 0;
}
#sidebar .container ul li .triangle-wrapper:hover .closed {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #0096d6;
}
#sidebar .container ul li .triangle-wrapper:hover .open {
  border-top: 6px solid #0096d6;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
#sidebar .container ul li .triangle-wrapper {
  cursor: pointer;
  float: left;
  width: 15px;
  height: 15px;
}
#sidebar .container ul li .triangle-wrapper .closed {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #00467f;
  position: relative;
  top: 2px;
  cursor: pointer;
}
#sidebar .container ul li .triangle-wrapper .open {
  width: 0;
  height: 0;
  border-top: 6px solid #00467f;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  position: relative;
  top: 7px;
  right: 3px;
  cursor: pointer;
}
#sidebar .container ul li .link:hover {
  cursor: pointer;
  text-decoration: underline;
}
#sidebar .container ul li .text {
  display: block;
  font-size: 15px;
}
#sidebar .container ul li .more-info {
  display: none;
  margin: 7px 0 2px 12px;
}
#sidebar .container ul li .more-info .child-pages {
  display: none;
  margin: 3px 0 8px 24px;
}
#sidebar .container ul li .more-info .root-page {
  margin-bottom: 2px;
}
#user-partners .text-wrapper {
  margin: 14px;
}
#user-partners .text-wrapper div {
  margin-bottom: 10px;
}
#user-partners .radio-wrapper {
  margin: 20px 14px 14px 14px;
}
#user-partners .radio-wrapper .title {
  font-weight: 700;
  margin-bottom: 10px;
}
#user-partners .radio-wrapper .container .each {
  display: block;
  float: left;
  width: 185px;
  margin-bottom: 8px;
}
#user-partners .radio-wrapper .container .each input {
  margin: 0;
  padding: 0;
  position: relative;
  top: -2px;
}
#user-partners .radio-wrapper .container .each label {
  margin-left: 5px;
}
#user-partners .order-wrapper {
  margin: 20px 14px 14px 14px;
}
#user-partners .order-wrapper .title {
  font-weight: 700;
  margin-bottom: 10px;
}
#user-partners .order-wrapper ul {
  padding: 0;
  margin: 0;
}
#user-partners .order-wrapper ul .active {
  background-color: #00467f;
  color: #fff;
}
#user-partners .order-wrapper ul li {
  text-align: center;
  cursor: move;
  padding: 10px;
  border: 1px dashed;
  background-color: #fcfcfc;
  margin: 10px;
}
#user-partners .submit-wrapper {
  margin: 14px;
}
#user-partners .submit-wrapper span {
  display: block;
  float: right;
}
#user-partners .submit-wrapper button {
  display: block;
  float: right;
}
#dashboard-page .welcome {
  margin: 15px 0 0 14px;
  font-size: 20px;
}
#dashboard-page .more-info {
  margin: 30px 20px 20px 20px;
  position: relative;
  left: 700px;
  border: 1px solid #e9eaed;
}
#dashboard-page .more-info .title {
  font-size: 18px;
  border-bottom: 1px solid #e9eaed;
  padding: 10px;
  background: none repeat scroll 0 0 #f6f7f8;
}
#dashboard-page .more-info .description {
  padding: 10px;
  font-size: 13px;
}
#dashboard-page .more-info .tables {
  padding: 10px;
}
#dashboard-page .more-info .tables .bookmarks-container {
  margin-right: 0 !important;
}
#dashboard-page .more-info .tables .container {
  float: left;
  width: 300px;
  border: 1px solid #e9eaed;
  margin-right: 30px;
}
#dashboard-page .more-info .tables .container .heading {
  background: none repeat scroll 0 0 #f6f7f8;
  border-bottom: 1px solid #e9eaed;
  color: #37404e;
  font-weight: 700;
  padding: 10px;
}
#dashboard-page .more-info .tables .container ul li {
  padding: 10px;
  border-bottom: 1px solid #e9eaed;
}
#dashboard-page .partners {
  position: relative;
  width: 725px;
  margin-left: 5px;
}
#dashboard-page .partners .partner:hover {
  cursor: pointer;
  border: 1px solid #00467f;
  background-color: #00467f;
  color: #fff;
}
#dashboard-page .partners .partner {
  margin: 10px 10px 0;
  float: left;
  text-align: center;
  border: 1px solid #fff;
  width: 115px;
}
#dashboard-page .partners .partner img {
  display: block;
  width: 113px;
  border: 1px solid #f0f0f0;
}
#dashboard-page .partners .partner .name {
  margin: 5px 0;
}
#login-page {
  min-height: 500px;
  width: 1000px !important;
}
#login-page .left {
  float: left;
  padding: 14px;
}
#login-page .left .login-wrapper,
#login-page .left .more-wrapper {
  width: 350px;
}
#login-page .left .login-wrapper .wrapper,
#login-page .left .more-wrapper .wrapper {
  position: relative;
  width: 100%;
  background-color: #f7f7f7;
  border: 1px solid #e8e8e8;
}
#login-page .left .login-wrapper .wrapper .messages,
#login-page .left .more-wrapper .wrapper .messages {
  margin: 15px 21px 5px 14px !important;
}
#login-page .left .login-wrapper .wrapper .standard,
#login-page .left .more-wrapper .wrapper .standard {
  margin: 10px 10px 9px 41px;
  font-weight: 700;
  color: #666;
}
#login-page .left .login-wrapper .wrapper form,
#login-page .left .more-wrapper .wrapper form {
  margin: 15px 0;
}
#login-page .left .login-wrapper .wrapper table,
#login-page .left .more-wrapper .wrapper table {
  font-size: 15px;
  width: 90%;
  margin: 0 auto;
}
#login-page .left .login-wrapper .wrapper table tr td,
#login-page .left .more-wrapper .wrapper table tr td {
  height: 42px;
}
#login-page .left .login-wrapper .wrapper table tr td:first-child,
#login-page .left .more-wrapper .wrapper table tr td:first-child {
  width: 100px;
}
#login-page .left .login-wrapper .wrapper table tr label,
#login-page .left .more-wrapper .wrapper table tr label {
  color: #666;
}
#login-page .left .login-wrapper .wrapper table tr .radio-label:last-child,
#login-page .left .more-wrapper .wrapper table tr .radio-label:last-child {
  margin: 0 0 0 5px;
}
#login-page .left .login-wrapper .wrapper table tr .radio-label,
#login-page .left .more-wrapper .wrapper table tr .radio-label {
  margin: 0 16px 0 5px;
}
#login-page .left .login-wrapper .wrapper table tr input[type="text"],
#login-page .left .more-wrapper .wrapper table tr input[type="text"],
#login-page .left .login-wrapper .wrapper table tr input[type="password"],
#login-page .left .more-wrapper .wrapper table tr input[type="password"] {
  width: 90%;
  padding: 10px;
}
#login-page .left .login-wrapper .wrapper table tr button,
#login-page .left .more-wrapper .wrapper table tr button {
  float: right;
}
#login-page .left .login-wrapper {
  position: relative;
  z-index: 200;
}
#login-page .left .more-wrapper {
  position: relative;
  z-index: 100;
  top: -172px;
}
#login-page .divider {
  float: left;
  border-right: 1px solid #d6d6d6;
  height: 500px;
}
#login-page .right {
  margin-left: 380px;
  padding: 14px;
  position: relative;
  top: -4px;
}
#login-page .right img {
  width: 592px;
}
#login-page .right .mission {
  margin-top: 20px;
}
#login-page .right .mission .title {
  color: #0096d6;
  font-size: 19px;
}
