#footer-content
	margin 0 auto
	width 1001px
	//background-color #C0C0C0
	background-color #00467F
	margin-bottom 40px
	//border 1px solid #C0C0C0
	border 1px solid #00467F

	ul
		font-size 13px
		display block
		float right
		padding 5px 10px 5px 0

		li
			color #FFF
			display inline
			margin 0 8px 0 0

			a
				color #FFF

			a:hover
				text-decoration underline