a:link
	text-decoration none
	color #0096D6

a:visited
	text-decoration none
	color #0096D6

a:hover
	color #00467f

.clear
	clear both

ul
	margin 0
	padding 0

	li
		list-style-type none

input
	border 1px solid #BABABA
	border-radius 3px
	box-shadow 0 3px 3px rgba(0, 0, 0, 0.13) inset

.btn-submit
	background-color #00467F
	border 1px solid #00467F
	color white
	padding 6px
	font-size 14px
	border-radius 2px
	cursor pointer

.hide
	display none

.clear
	clear both

fieldset
	border 0px solid
	margin 0
	padding 0