.messages
	color #4A4A4A
	padding 12px 12px 12px 43px
	border 3px solid
	border-radius 4px
	background-position 5px
	background-repeat no-repeat
	margin 14px
	line-height 1.2em

	h1
		font-size 15px
		margin 0 0 4px

	p
		margin 0

	ul
		list-style-type disc
		list-style-position inside
		padding 0 !important
		margin 0 !important

		li
			margin-bottom 3px

		li:last-child
			margin-bottom 0px

.messages.err
	background-image url("../images/error.png")
	background-color #eacccc
	border-color #b10808

.messages.info
	background-image url("../images/information.png") 
	background-color #daecf7
	border-color #0677b9

.messages.warn 
	background-image url("../images/warning.png") 
	background-color #fdf4db
	border-color #f9cc2a

.messages.success 
	background-image url("../images/success.png") 
	background-color #e3f5d8
	border-color #5da21f