// ko if: currentPage() === 'LoginPage'
// ko with: LoginPage

.page#login-page
	.left
		.login-wrapper
			.wrapper
				form(data-bind="submit:authorizeLogin.call")
					
					// ko if: errors && errors().length > 0
					.messages.err
						ul(data-bind="foreach:errors")
							li(data-bind="text:$data")
					// /ko

					.standard Use Your Standard SSO/MMA Login Here

					table
						tbody
							tr
								td: label(for="username") Username:
								td
									div: input(id="username", name="username", type="text")
							tr
								td: label(for="password") Password:
								td
									div: input(id="password", name="password", type="password")
							tr
								td
									a(href="javascript:void(0)", data-bind="click:toggleHelpModule") Need Help?
								td
									button(id="login-button", class="btn-submit", type="submit") Login
									.clear



		.more-wrapper.hide
			.wrapper
				form(data-bind="submit:sendEmail.call")
					// ko if: helpErrors && helpErrors().length > 0
					.messages.err
						ul(data-bind="foreach:helpErrors")
							li(data-bind="text:$data")
					// /ko
					
					table
						tbody
							tr
								td: label Forgot:
								td 
									fieldset
										input(type="radio", id="request-username", name="type", value="username")
										label.radio-label Username
										input(type="radio", id="request-password", name="type", value="password")
										label.radio-label Password
							tr
								td: label(for="email") Email:
								td
									div: input(id="email", name="email", type="text")
							tr
								td(colspan="2")
									button(class="btn-submit", type="submit") Send Email
									.clear

	.divider

	.right
		img(src="images/home.png")

		.mission
			.title Our Company
			div Allstate Roadside Services emerged from the acquisition by Allstate Corporation of the Partnership Marketing Group (PMG) in 2008, integrating them with Allstate Motor Club, one of the nation’s top motor clubs with 50 years of roadside expertise. 
		.mission
			.title Our People
			div The Allstate Roadside Services commitment is supported by more than 2000 professionals. We attract the best and brightest in the roadside arena through our industry-focused training methodologies, opportunities for advancement, and personal recognition programs. 
		.mission
			.title Our Partners
			div Our partnership focus helps us create customized solutions for numerous corporate clients with tens of millions of customers. We offer our partners innovative ways to build brand equity and increase customer loyalty through our differentiated service levels and exclusive program options. We proudly serve leading companies across a broad spectrum of industries, including vehicle manufacturers (OEMs), fleet and vehicle rental corporations, mobile/GPS providers, insurance companies, association and affinity groups, auto clubs, and credit card providers. 

	.clear

// /ko
// /ko


