#login-page
	min-height 500px

	.left
		float left
		padding 14px

		.login-wrapper, .more-wrapper
			width 350px

			.wrapper
				position relative
				width 100%
				background-color #f7f7f7
				border 1px solid #E8E8E8

				.messages
					margin 15px 21px 5px 14px !important

				form
					margin 15px 0

				table
					font-size 15px
					width 90%
					margin 0 auto

					tr
						td
							height 42px

						td:first-child
							width 100px

						label
							color #666666

						.radio-label:last-child
							margin 0 0 0 5px

						.radio-label
							margin 0 16px 0 5px

						input[type="text"], input[type="password"]
							width 90%
							padding 10px

						button
							float right


		.login-wrapper
			position relative
			z-index 200

		.more-wrapper
			position relative
			z-index 100
			top -172px

	.divider
		float left
		border-right 1px solid #D6D6D6
		height 485px

	.right 
		margin-left 380px
		padding 14px
		position relative
		top -4px

		img
			width 592px

		.mission
			margin-top 20px

			.title
				color #0096D6
				font-size 19px


